In [20]:
import pandas as pd
import numpy as np
from pathlib import Path
from LinearRegression import LinearRegression

In [2]:
data_path = Path.cwd()
df = pd.read_csv(data_path / 'insurance.csv')
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

# Prepare data

In [6]:
# binarize sex to -1 for male and 1 for women
df.loc[df['sex']=='male', 'sex']=-1
df.loc[df['sex']=='female', 'sex']=1

# binarize smoker to -1 for yes and 1 for no
df.loc[df['smoker']=='yes', 'smoker']=-1
df.loc[df['smoker']=='no', 'smoker']=1

# Remove region
if 'region' in df.columns:
    df = df.drop(['region'], axis=1)
df.head(10)

   age sex     bmi  children smoker      charges
0   19   1  27.900         0     -1  16884.92400
1   18  -1  33.770         1      1   1725.55230
2   28  -1  33.000         3      1   4449.46200
3   33  -1  22.705         0      1  21984.47061
4   32  -1  28.880         0      1   3866.85520
5   31   1  25.740         0      1   3756.62160
6   46   1  33.440         1      1   8240.58960
7   37   1  27.740         3      1   7281.50560
8   37  -1  29.830         2      1   6406.41070
9   60   1  25.840         0      1  28923.13692

# Linear Regression

In [21]:
# Choose features to predict
features = np.array(['age', 'sex', 'bmi', 'children', 'smoker'])
X, y = df[features].to_numpy(), df[['charges']].to_numpy()

In [14]:
model = LinearRegression(X=X, y_gt=y, alpha=3e-9, eps=1e-5)

In [15]:
model.fit()

--- Itération 0 ---
MSE = 1.6069485E+08

Fit process ended with success
MSE = 160693342.9405581

In [22]:
print(model.score())
model.plot_featureimportance(names=features)

-1.1931255535241068

IndexError: index 5 is out of bounds for axis 0 with size 5